body {
    background-color: #fff;
    color: #111;
    padding: 0 20px;
    font-family: 'Roboto Slab', serif;
}

.btn {
    display: inline-block;
    background: skyblue;
    padding: 6px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px 5px;
}

.btn:hover {
    background-color: #bcd1e6;
}
.btn:disabled {
    cursor: none;
    background-color: #fff;
    border: #111 solid 1px
}

.btn_export {
    display: inline-block;
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px 5px;
    background: rgb(243, 194, 87);
}
.btn_export:hover {
    background-color: rgb(255, 231, 111);
}

table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:rgb(235, 230, 220);
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 550px;
    min-width: 50px;
    word-wrap:break-word;
  }
.select {
    width: 300px;
}

.search {
    margin: 10px;
    padding: 5px;
}